Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": "prettier --ignore-path .gitignore --write",
  "*.{js,jsx}": "eslint"
}

implemeted suggested changes
  package-lock.json
  public/server/db/cta.json
  public/server/db/og.json
Due: prettier --ignore-path .gitignore --write

Create sfw.json
  public/server/db/sfw.json
Due: prettier --ignore-path .gitignore --write

fix mode toggles when refreshing the page
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

docs: update README.md
  README.md
Due: none

added additonal slang (#392)
  public/server/db/dnd.json
  public/server/db/gf.json
  public/server/db/og.json
  public/server/db/ooo.json
Due: prettier --ignore-path .gitignore --write

fix mode toggles when refreshing the page (#396)
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Create sfw.json (#394)
  public/server/db/sfw.json
Due: prettier --ignore-path .gitignore --write

hover effect and no user select
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Closes #397
  public/server/db/ijbol.json
Due: prettier --ignore-path .gitignore --write

Fixed showing empty input error message on pressing Search button/
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

(slang) added dfw
  package-lock.json
  public/server/db/dfw.json
Due: prettier --ignore-path .gitignore --write

(slang) added : On The Go
  public/server/db/otg.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.26.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

(slang) added : WRT
  public/server/db/wrt.json
Due: prettier --ignore-path .gitignore --write

(slang) Added :eg
  package-lock.json
  public/server/db/eg.json
Due: prettier --ignore-path .gitignore --write

added transition to search btn, some padding to footer on mobile device and feat(slang): added y
  public/server/db/y.json
  src/components/footer.jsx
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Add new Abbreviation iagl : Ain't Gonna Lie
  package-lock.json
  public/server/db/iagl.json
Due: prettier --ignore-path .gitignore --write

Closes #397 (#399)
  public/server/db/ijbol.json
Due: prettier --ignore-path .gitignore --write

Fixed showing empty input error message on pressing Search button/ (#400)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

hover effect and no user select (#398)
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

added transition to search btn, some padding to footer on mobile device and feat(slang): added y (#405)
  public/server/db/y.json
  src/components/footer.jsx
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

change version in package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

add abbreviation
  public/server/db/cyt.json
Due: prettier --ignore-path .gitignore --write

Create Ijgb.json
  public/server/db/Ijgb.json
Due: prettier --ignore-path .gitignore --write

Add new Abbreviation iagl : I Ain't Gonna Lie (#407)
  public/server/db/iagl.json
Due: prettier --ignore-path .gitignore --write

add abbreviation (#408)
  public/server/db/cyt.json
Due: prettier --ignore-path .gitignore --write

Fixes #411
  package-lock.json
  public/server/db/wdyt.json
Due: prettier --ignore-path .gitignore --write

Update Ijgb.json
  public/server/db/Ijgb.json
Due: prettier --ignore-path .gitignore --write

add abbreviation: mgr
  public/server/db/mgr.json
Due: prettier --ignore-path .gitignore --write

Update package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

add abbrev lysm
  public/server/db/lysm.json
Due: prettier --ignore-path .gitignore --write

add abbrev lysm (#416)
  public/server/db/lysm.json
Due: prettier --ignore-path .gitignore --write

added preset paramters and reading
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

removed loop bug
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

feat(slang) : added af
  public/server/db/af.json
Due: prettier --ignore-path .gitignore --write

remove testing interface
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

added preset paramters and reading (#419)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

created button for linking
  src/assets/copy.png
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix css
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

copy success indicator
  src/assets/copySuccess.png
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint
