Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

fix: changed db:entry script to normal node app
  package.json
  public/server/scripts/enterDb.js
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.3.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

resolve
  README.md
Due: none

updated db.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

refactor: remove duplicate abbreviation
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Fix MarkDown error
  README.md
Due: none

Fix MarkDown error (#113)
  README.md
Due: none

docs: modified contributing.md
  CONTRIBUTING.md
Due: none

docs: modified contributing.md (#114)
  CONTRIBUTING.md
Due: none

refactor: remove duplicate abbreviation (#111)
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

updated db.json (#110)
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Update db.json (#107)
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Chore: Fix #119
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.4.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Chore: Fix #119 (#120)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Create ptfo.json
  public/server/db/ptfo.json
Due: prettier --ignore-path .gitignore --write

feat: UI/UX improvements - moved search box to the top
  src/App.jsx
  src/components/footer.jsx
  src/components/form.jsx
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Adding new abbreviations
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

fix: move search box below the animation - Removed "Find an abbreve(tion)" text - Removed "Get Started" button
  src/components/hero.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Added 2 abbreviations
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

fix: remove whitespace - too much whitespace between the search box and the section below it.
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: fixed alignment of the search box element - removed text-center wrapper div
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

adding new abbreviation
  public/server/db/btw.json
Due: prettier --ignore-path .gitignore --write

adding yrr.json
  public/server/db/yrr.json
Due: prettier --ignore-path .gitignore --write

feat: added ihtg.json
  public/server/db/ihtg.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.5.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: added wru.json
  public/server/db/wru.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.6.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: if.json
  public/server/db/if.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.7.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: added it.json
  public/server/db/it.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.8.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: added ip.json
  public/server/db/ip.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.9.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: added cs.json
  public/server/db/cs.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.10.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
