Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": "prettier --ignore-path .gitignore --write",
  "*.{js,jsx}": "eslint"
}

feat: added new abbreviations (#210)
  public/server/db/gbtyl.json
  public/server/db/gtk.json
  public/server/db/gtsy.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.18.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

chore: add key icon to array map function
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.19.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.19.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

removed slang from old db.json file and added to current db folder
  public/server/db.json
  public/server/db/rbtl.json
Due: prettier --ignore-path .gitignore --write

fix: left hero content displacement fix
  package-lock.json
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Update imu.json
  public/server/db/imu.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added dfkm
  package-lock.json
  public/server/db/dfkm.json
Due: prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: none

I think I fixed it...fingers crossed (#212)
  CHANGELOG.md
  package.json
  public/server/db.json
  public/server/db/ifyp.json
  public/server/db/imu.json
  public/server/db/omdb.json
  public/server/db/rbtl.json
  public/server/db/soml.json
  public/server/db/ssdd.json
  public/server/db/wywh.json
Due: prettier --ignore-path .gitignore --write

fix: button width and y-padding
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Added the logo and a Description (#217)
  README.md
Due: none

docs: change link to local file
  README.md
Due: none

fix: margin below form component
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Update the search button width on small screens (#219)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

docs: change link to local file (#221)
  README.md
Due: none

chore: adding new abbreviations
  public/server/db/alb.json
  public/server/db/kim.json
  public/server/db/rn.json
  public/server/db/sbs.json
  public/server/db/tfs.json
Due: prettier --ignore-path .gitignore --write

fix: change placeholder text color
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore: adding new abbreviations (#226)
  public/server/db/alb.json
  public/server/db/kim.json
  public/server/db/rn.json
  public/server/db/sbs.json
  public/server/db/tfs.json
Due: prettier --ignore-path .gitignore --write

fix: change placeholder text color (#227)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.19.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Create btaim.json
  public/server/db/btaim.json
Due: prettier --ignore-path .gitignore --write

Create dae.json
  public/server/db/dae.json
Due: prettier --ignore-path .gitignore --write

added 'Work From Home' to database.
  public/server/db/wfh.json
Due: prettier --ignore-path .gitignore --write

added 'Work From Home' to database. (#230)
  public/server/db/wfh.json
Due: prettier --ignore-path .gitignore --write

Update public/server/db/dae.json
  public/server/db/dae.json
Due: prettier --ignore-path .gitignore --write

Update public/server/db/btaim.json
  public/server/db/btaim.json
Due: prettier --ignore-path .gitignore --write

Create eli5.json
  public/server/db/dae.json
  public/server/db/eli5.json
Due: prettier --ignore-path .gitignore --write

gn.json is created with the appropriate format
  public/server/db/gn.json
Due: prettier --ignore-path .gitignore --write

Create btaim.json (#228)
  public/server/db/btaim.json
Due: prettier --ignore-path .gitignore --write

Create eli5.json (#229)
  public/server/db/eli5.json
Due: prettier --ignore-path .gitignore --write

Created greeting.yml file
  .github/workflows/greeting.yml
Due: none

Delete greeting.yml
  .github/workflows/greeting.yml
Due: none

new abbreviations added
  package-lock.json
  public/server/db/diky.json
  public/server/db/eod.json
  public/server/db/ftfy.json
  public/server/db/gtr.json
  public/server/db/hmb.json
  public/server/db/lms.json
  public/server/db/mtfbwy.json
  public/server/db/pnl.json
  public/server/db/snmp.json
  public/server/db/tay.json
Due: prettier --ignore-path .gitignore --write

fixed input field size
  package-lock.json
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: fixed issue generated in PR
  package-lock.json
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: darkmode doesn't stay on refresh #218
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Add an abbreviation
  public/server/db/tml.json
Due: prettier --ignore-path .gitignore --write
