Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

DOCS: adding new abbreviation
  public/server/idts.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/wdys.json
Due: prettier --ignore-path .gitignore --write

search result mobile view change
  package-lock.json
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Adding New abbreviations (#194)
  public/server/idli.json
  public/server/idts.json
  public/server/ili.json
  public/server/wdys.json
Due: prettier --ignore-path .gitignore --write

Meta tag added (#193)
  index.html
  src/assets/thumbnail.png
Due: none

fix: added missing div tag
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Did the correction that was req and even added new acronyms such as gsoc, iv, pyq
  public/server/db/gsoc.json
  public/server/db/iv.json
  public/server/db/pyq.json
  public/server/db/s%2Fo.json
Due: prettier --ignore-path .gitignore --write

deleted iv-pyq
  public/server/db/iv.json
  public/server/db/pyq.json
Due: prettier --ignore-path .gitignore --write

deleted ps
  public/server/db/ps.json
Due: prettier --ignore-path .gitignore --write

removed lnkd.json and gsoc.json as requested
  public/server/db/gsoc.json
  public/server/db/lnkd.json
Due: prettier --ignore-path .gitignore --write

Added new abbrevation 1. htf - how the fuck (#190)
  public/server/db/htf.json
  public/server/db/imao.json
  public/server/db/td.json
  public/server/db/thu.json
Due: prettier --ignore-path .gitignore --write

added wgaf.json file
  public/server/db/wgaf.json
Due: prettier --ignore-path .gitignore --write

added wgaf.json file (#196)
  public/server/db/wgaf.json
Due: prettier --ignore-path .gitignore --write

added some more slang
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.18.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Added 2 abbreviations (#124)
  public/server/db/idt.json
  public/server/db/idts.json
Due: prettier --ignore-path .gitignore --write

DOCS: Add Abbreviation
  public/server/db/pitr.json
Due: prettier --ignore-path .gitignore --write

DOCS: Remove Comma
  public/server/db/pitr.json
Due: prettier --ignore-path .gitignore --write

DOCS: Add Abbreviation (#200)
  public/server/db/pitr.json
Due: prettier --ignore-path .gitignore --write

Created a new file aisb.json
  public/server/db/aisb.json
Due: prettier --ignore-path .gitignore --write

Wrote the definition and alternative in the new json
  public/server/db/aisb.json
Due: prettier --ignore-path .gitignore --write

Added a new Abbreviation : AISB (#202)
  public/server/db/aisb.json
Due: prettier --ignore-path .gitignore --write

added new slang:ppv
  public/server/db/ppv.json
Due: prettier --ignore-path .gitignore --write

added new slang:ppv (#204)
  public/server/db/ppv.json
Due: prettier --ignore-path .gitignore --write

feat: add 'dark' to html element
  index.html
Due: none

build: add 'class' to support dark mode
  tailwind.config.cjs
Due: none

feat: add classes for dark mode
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

build: version change
  package-lock.json
Due: prettier --ignore-path .gitignore --write

feat: add classes for dark mode support
  src/components/hero.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Dark mode (#205)
  index.html
  package-lock.json
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
  tailwind.config.cjs
Due: prettier --ignore-path .gitignore --write, eslint

fix: fixed spacing issues on mobile and large view and fixed text size issues
  src/components/form.jsx
  src/components/hero.jsx
  tailwind.config.cjs
Due: prettier --ignore-path .gitignore --write, eslint

fix: fixed issues generated in the pr
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: fixed spacing issues on mobile and large view and fixed text siz… (#207)
  src/components/form.jsx
  src/components/hero.jsx
  tailwind.config.cjs
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.17.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: add new abbreviation
  public/server/db/gtsy.json
Due: prettier --ignore-path .gitignore --write

feat: "added new abbreviation"
  public/server/db/gbtyl.json
Due: prettier --ignore-path .gitignore --write

feat: added new abbreviation
  public/server/db/gtsy.json
Due: prettier --ignore-path .gitignore --write

feat: added new abbreviation
  public/server/db/gtk.json
Due: prettier --ignore-path .gitignore --write

Merge branch 'main' of https://github.com/danitacodes/Abbreve
  public/server/db/atp.json
Due: prettier --ignore-path .gitignore --write

added more slang
  public/server/db/ifyp.json
  public/server/db/imu.json
  public/server/db/omdb.json
  public/server/db/soml.json
  public/server/db/ssdd.json
  public/server/db/wywh.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
