Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": "prettier --ignore-path .gitignore --write",
  "*.{js,jsx}": "eslint"
}

revised copied link status
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

implemented button to copy definition link (#421)
  src/assets/copy.png
  src/assets/copySuccess.png
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Updates to package-lock.json due to newer node ver
  package-lock.json
Due: prettier --ignore-path .gitignore --write

Added db entry for 'wys' closes #1
  public/server/db/wys.json
Due: prettier --ignore-path .gitignore --write

Added db entry for 'rcmp' closes #2
  public/server/db/rcmp.json
Due: prettier --ignore-path .gitignore --write

Added db entry for 'sm' closes #3
  public/server/db/sm.json
Due: prettier --ignore-path .gitignore --write

Added db entry for 'hml' closes #4
  public/server/db/hml.json
Due: prettier --ignore-path .gitignore --write

Added db entry for 'dttc' closes #5
  public/server/db/dttc.json
Due: prettier --ignore-path .gitignore --write

Update tailwind classes to fix alignments
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fixed and removed inefficiencies
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

removed unnecessary image
  src/assets/copySuccess.png
Due: none

Update tailwind classes to fix alignments (#424)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Fixes to link sharing (#425)
  src/assets/copySuccess.png
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

updated PR as per review comment
  public/server/db/af.json
Due: prettier --ignore-path .gitignore --write

feat(slang) : added af (#420)
  public/server/db/af.json
Due: prettier --ignore-path .gitignore --write

feat: integrate ghost with astro
  backend/.env
  package-lock.json
  package.json
  public/.env
  src/Test/Intro.jsx
  src/Test/Version.jsx
  src/main.jsx
Due: prettier --ignore-path .gitignore --write, eslint

#426 optimized code for Clear button
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix-428: The second card is being cut and overflowing on medium and small sized mobile screens
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix-403: ADDED A NEW ABBREVIATION (otg)
  public/server/db/otg.json
Due: prettier --ignore-path .gitignore --write

Create tlc.json
  public/server/db/tlc.json
Due: prettier --ignore-path .gitignore --write

fix-428: The second card is being cut and overflowing on medium and small sized mobile screens (#429)
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix-403: ADDED A NEW ABBREVIATION (otg) (#430)
  public/server/db/otg.json
Due: prettier --ignore-path .gitignore --write

fix-426 FEATURE: Clear button (#431)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Create tlc.json (#433)
  public/server/db/tlc.json
Due: prettier --ignore-path .gitignore --write

fix-434 BUG: Abbreviation is not cleared when input is empty after clicking clear button
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fixed bug to clear abbreviation when input is empty
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

added new Abbreviation
  package-lock.json
  public/server/db/igl.json
Due: prettier --ignore-path .gitignore --write

Add slang defination for lmr
  public/server/db/lmr.json
Due: prettier --ignore-path .gitignore --write

Added SMDH abbreviation with the definition 'Shaking My Damn Head'
  public/server/db/tfti.json
Due: prettier --ignore-path .gitignore --write

Added abbreviations: LPT, OML, SMDH, TTYN, WTV
  public/server/db/lpt.json
  public/server/db/oml.json
  public/server/db/smdh.json
  public/server/db/ttyn.json
  public/server/db/wtv.json
Due: prettier --ignore-path .gitignore --write

Create wp.json
  public/server/db/wp.json
Due: prettier --ignore-path .gitignore --write

abbrev aita
  public/server/db/aita.json
Due: prettier --ignore-path .gitignore --write

add ssly.json
  public/server/db/ssly.json
Due: prettier --ignore-path .gitignore --write

alt for {ig} corrected
  package-lock.json
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

updated 8 slangs starting with z's, z starting slangs
  package-lock.json
  public/server/db/zap.json
  public/server/db/zbb.json
  public/server/db/zfyi.json
  public/server/db/zmt.json
  public/server/db/zot.json
  public/server/db/zotd.json
  public/server/db/zth.json
  public/server/db/zzz.json
Due: prettier --ignore-path .gitignore --write

added 8 slangs from z letter
  public/server/db/zth.json
Due: prettier --ignore-path .gitignore --write

changed statement on homepage
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

new abbreviation added
  public/server/db/icydk.json
Due: prettier --ignore-path .gitignore --write

fix(wording): [#452] Homepage wording
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix(install): fixing vercel issue
  package-lock.json
Due: prettier --ignore-path .gitignore --write
