Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

New Abbreve: idg
  public/server/db/idg.json
Due: prettier --ignore-path .gitignore --write

New Abbreve: dp
  public/server/db/dp.json
Due: prettier --ignore-path .gitignore --write

Added alternative to abbreve: imho
  public/server/db/imho.json
Due: prettier --ignore-path .gitignore --write

docs(template): refactor issue template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc_issue.yml
  .github/ISSUE_TEMPLATE/features.yml
  .github/ISSUE_TEMPLATE/other.yml
Due: none

docs(template): refactor issue template (#136)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc_issue.yml
  .github/ISSUE_TEMPLATE/features.yml
  .github/ISSUE_TEMPLATE/other.yml
Due: none

Update lmao Abbreve
  public/server/db/lmao.json
Due: prettier --ignore-path .gitignore --write

update: added two new Abbreves (#134)
  public/server/db/idg.json
  public/server/db/ifb.json
  public/server/db/lmao.json
Due: prettier --ignore-path .gitignore --write

#136 on README file change from slangs to slang
  README.md
Due: none

fix typo
  CONTRIBUTING.md
Due: none

fix prettier style
  CONTRIBUTING.md
Due: none

fix prettier style
  README.md
Due: none

fix formatting
  README.md
Due: none

change href fof for basic etiquette on contributing.md
  CONTRIBUTING.md
Due: none

Corrected Typos in Readme
  README.md
Due: none

Fix typo (#140)
  README.md
Due: none

docs: change href fof for basic etiquette on contributing.md (#142)
  CONTRIBUTING.md
Due: none

docs: corrected Typos in Readme (#141)
  README.md
Due: none

fix: Change letter and add word in README
  README.md
Due: none

fix: Change letter and add word in README (#144)
  README.md
Due: none

chore(release): v0.13.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added hth
  public/server/db/hth.json
Due: prettier --ignore-path .gitignore --write

updated: added a comma after first item
  public/server/db/idg.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added idgaf
  public/server/db/idgaf.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added fwb
  public/server/db/fwb.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added diy
  public/server/db/diy.json
Due: prettier --ignore-path .gitignore --write

update: add new words to the Dictionary... (#145)
  public/server/db/diy.json
  public/server/db/fwb.json
  public/server/db/hth.json
  public/server/db/idg.json
  public/server/db/idgaf.json
Due: prettier --ignore-path .gitignore --write

Add config for spinner
  tailwind.config.cjs
Due: none

Add loading spinner component
  src/components/loadingSpinner.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Use loading spinner into form component
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

replaced slangs w/ slang.
  .github/pull_request_template.md
  CHANGELOG.md
  README.md
  public/server/README.md
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Update lmao.json
  public/server/db/lmao.json
Due: prettier --ignore-path .gitignore --write

feat(slang): Alternative meaning to idg
  public/server/db/idg.json
Due: prettier --ignore-path .gitignore --write

feat(slang): Alternative meaning to imho
  public/server/db/imho.json
Due: prettier --ignore-path .gitignore --write

replaced slangs w/ slang. (#150)
  .github/pull_request_template.md
  CHANGELOG.md
  README.md
  public/server/README.md
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Move spinner under the input field
  src/components/form.jsx
  src/components/loadingSpinner.jsx
Due: prettier --ignore-path .gitignore --write, eslint

feat[slang] : Added dp
  public/server/db/dp.json
Due: prettier --ignore-path .gitignore --write

fix: sanitize user input before search
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Add 2 more spinners of different sizes
  src/components/loadingSpinner.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.14.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
