Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": "prettier --ignore-path .gitignore --write",
  "*.{js,jsx}": "eslint"
}

fix og:image content path
  index.html
Due: none

feat:Add BBS,YMMV
  public/server/db/bbs.json
  public/server/db/ymmv.json
Due: prettier --ignore-path .gitignore --write

feat:Add BBS,YMMV (#367)
  public/server/db/bbs.json
  public/server/db/ymmv.json
Due: prettier --ignore-path .gitignore --write

commit
  README.md
  public/server/db/kmt.json
Due: prettier --ignore-path .gitignore --write

commit (#368)
  README.md
  public/server/db/kmt.json
Due: prettier --ignore-path .gitignore --write

sdgadgdfdfgdf
  public/server/db/ikdafd.json
Due: prettier --ignore-path .gitignore --write

New Abrevation and Modification
  public/server/db/ltr.json
  public/server/db/omg.json
  public/server/db/qotd.json
  public/server/db/smp.json
  public/server/db/wlcm.json
Due: prettier --ignore-path .gitignore --write

Update public/server/db/ltr.json
  public/server/db/ltr.json
Due: prettier --ignore-path .gitignore --write

New Abbreviation and Modification (#370)
  public/server/db/ltr.json
  public/server/db/omg.json
  public/server/db/qotd.json
  public/server/db/smp.json
  public/server/db/wlcm.json
Due: prettier --ignore-path .gitignore --write

Added new abbv
  public/server/db/hnm.json
Due: prettier --ignore-path .gitignore --write

Added new abbv (#374)
  public/server/db/hnm.json
Due: prettier --ignore-path .gitignore --write

NT Abbrevation #371
  package-lock.json
  package.json
  public/server/db/nt.json
Due: prettier --ignore-path .gitignore --write

Update package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

NT Abbrevation #371 (#376)
  package.json
  public/server/db/nt.json
Due: prettier --ignore-path .gitignore --write

New Abbreviations
  public/server/db/brt.json
  public/server/db/wtfh.json
Due: prettier --ignore-path .gitignore --write

added new slang
  public/server/db/lmc.json
Due: prettier --ignore-path .gitignore --write

added new slang (#378)
  public/server/db/lmc.json
Due: prettier --ignore-path .gitignore --write

New Abbreviations (#377)
  public/server/db/brt.json
  public/server/db/wtfh.json
Due: prettier --ignore-path .gitignore --write

fix: adjusted alignment of elements on the page
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
  tailwind.config.cjs
Due: prettier --ignore-path .gitignore --write, eslint

chore: delete unnecessary files
  public/server/db.json
  public/server/idli.json
  public/server/idts.json
  public/server/ili.json
  public/server/wdys.json
Due: prettier --ignore-path .gitignore --write

arranged alignment issues on page (#379)
  public/server/db.json
  public/server/idli.json
  public/server/idts.json
  public/server/ili.json
  public/server/wdys.json
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
  tailwind.config.cjs
Due: prettier --ignore-path .gitignore --write, eslint

added single toggle button
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

added more abbrevations
  package-lock.json
  public/server/db/iagt.json
  public/server/db/idrk.json
  public/server/db/lyt.json
Due: prettier --ignore-path .gitignore --write

added single toggle button (#381)
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fixed package-lock.json issue
  package-lock.json
Due: prettier --ignore-path .gitignore --write

Added more abbreviations (#382)
  public/server/db/iagt.json
  public/server/db/idrk.json
  public/server/db/lyt.json
Due: prettier --ignore-path .gitignore --write

fixed dark mode toggle function
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

removed rounded corners on hero comp
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Revert "removed rounded corners on hero comp"
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fixed wrong theme mode
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

updated colors for darkmode
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Fix: #383
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Fix for dark mode toggle (#384)
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fixedcss-fixedblankbug
  package-lock.json
  public/server/db/idgf.json
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
  src/index.css
Due: prettier --ignore-path .gitignore --write, eslint

fixedcss-fixedblankbug
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

added additonal slang
  package-lock.json
  public/server/db/cta.json
  public/server/db/dnd.json
  public/server/db/gf.json
  public/server/db/og.json
  public/server/db/ooo.json
Due: prettier --ignore-path .gitignore --write

Added SIC-something that is cool abbrevation.
  package-lock.json
  public/server/db/sic.json
Due: prettier --ignore-path .gitignore --write
