Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

feat: adding new abbreviation
  public/server/db/aka.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.15.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/db/lg.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/db/wrul.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/db/wrud.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/db/gtg.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/db/idh
Due: none

fix: prevent fetching of data if search value is empty
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix(form.jsx): merge conflict
  package-lock.json
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: show error there's any
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Feat: Added 10 abbreviations
  public/server/db/btt.json
  public/server/db/cu.json
  public/server/db/cya.json
  public/server/db/dtf.json
  public/server/db/gg.json
  public/server/db/gr8.json
  public/server/db/pls.json
  public/server/db/tgif.json
  public/server/db/wb.json
  public/server/db/xoxo.json
Due: prettier --ignore-path .gitignore --write

update: Added 10 abbreviations (#155)
  public/server/db/btt.json
  public/server/db/cu.json
  public/server/db/cya.json
  public/server/db/dtf.json
  public/server/db/gg.json
  public/server/db/gr8.json
  public/server/db/pls.json
  public/server/db/tgif.json
  public/server/db/wb.json
  public/server/db/xoxo.json
Due: prettier --ignore-path .gitignore --write

Added new Abbreves (#151)
  public/server/db/dp.json
  public/server/db/imho.json
Due: prettier --ignore-path .gitignore --write

Adding new abbreviations (#153)
  CHANGELOG.md
  package.json
  public/server/db/aka.json
  public/server/db/gtg.json
  public/server/db/idh
  public/server/db/lg.json
  public/server/db/wrud.json
  public/server/db/wrul.json
Due: prettier --ignore-path .gitignore --write

Changed URL in contributing.md
  CONTRIBUTING.md
Due: none

Create wysiwyg.json
  public/server/db/wysiwyg.json
Due: prettier --ignore-path .gitignore --write

Added new abbrevations and fixed the idh --> idh.json in db folder
  public/server/db/aaf.json
  public/server/db/amaa.json
  public/server/db/atm.json
  public/server/db/g2g.json
  public/server/db/gfu.json
  public/server/db/gj.json
  public/server/db/hoas.json
  public/server/db/iama.json
  public/server/db/idh.json
  public/server/db/ily.json
  public/server/db/itt.json
  public/server/db/nbd.json
  public/server/db/nsfl.json
  public/server/db/oic.json
  public/server/db/omw.json
  public/server/db/p2p.json
  public/server/db/qt.json
  public/server/db/tg.json
  public/server/db/ttys.json
  public/server/db/wug.json
  public/server/db/yw.json
Due: prettier --ignore-path .gitignore --write

docs: changed URL in contributing.md (#156)
  CONTRIBUTING.md
Due: none

Added new abbrevations and fixed the idh --> idh.json in db folder (#158)
  public/server/db/aaf.json
  public/server/db/amaa.json
  public/server/db/atm.json
  public/server/db/g2g.json
  public/server/db/gfu.json
  public/server/db/gj.json
  public/server/db/hoas.json
  public/server/db/iama.json
  public/server/db/idh.json
  public/server/db/ily.json
  public/server/db/itt.json
  public/server/db/nbd.json
  public/server/db/nsfl.json
  public/server/db/oic.json
  public/server/db/omw.json
  public/server/db/p2p.json
  public/server/db/qt.json
  public/server/db/tg.json
  public/server/db/ttys.json
  public/server/db/wug.json
  public/server/db/yw.json
Due: prettier --ignore-path .gitignore --write

Update wysiwyg.json
  public/server/db/wysiwyg.json
Due: prettier --ignore-path .gitignore --write

Create wysiwyg.json (#157)
  public/server/db/wysiwyg.json
Due: prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: none

Update README.md (#162)
  README.md
Due: none

Added new Abbreve's
  package-lock.json
  public/server/db/omfg.json
  public/server/db/ppl.json
  public/server/db/u2y.json
Due: prettier --ignore-path .gitignore --write

Leave only the 8px
  src/components/loadingSpinner.jsx
Due: prettier --ignore-path .gitignore --write, eslint

bts.json created
  public/server/db/bts.json
Due: prettier --ignore-path .gitignore --write

Added new Abbrevations wsup, thx, stem, pcm.
  public/server/db/pcm.json
  public/server/db/stem.json
  public/server/db/thx.json
  public/server/db/wsup.json
Due: prettier --ignore-path .gitignore --write

Added new Abbrevations wsup, thx, stem, pcm. (#165)
  public/server/db/pcm.json
  public/server/db/stem.json
  public/server/db/thx.json
  public/server/db/wsup.json
Due: prettier --ignore-path .gitignore --write

Added new Abbreve's (#163)
  package-lock.json
  public/server/db/omfg.json
  public/server/db/ppl.json
  public/server/db/u2y.json
Due: prettier --ignore-path .gitignore --write

Removed "/"
  public/server/db/bts.json
Due: prettier --ignore-path .gitignore --write

Add check for unchanged userInput
  package-lock.json
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Create pr.json
  public/server/db/pr.json
Due: prettier --ignore-path .gitignore --write

added two new entries
  public/server/db/fcfs.json
  public/server/db/fcol.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added k
  public/server/db/k.json
Due: prettier --ignore-path .gitignore --write

feat(slang) added idca
  public/server/db/idca.json
Due: prettier --ignore-path .gitignore --write

feat(slang) added fr
  public/server/db/fr.json
Due: prettier --ignore-path .gitignore --write

New Slang Added
  public/server/db/wifi.json
Due: prettier --ignore-path .gitignore --write

Abbreviations for BTS & DYK (#164)
  public/server/db/bts.json
Due: prettier --ignore-path .gitignore --write

Update public/server/db/pr.json
  public/server/db/pr.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added k (#169)
  public/server/db/fr.json
  public/server/db/idca.json
  public/server/db/k.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
