Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": "prettier --ignore-path .gitignore --write",
  "*.{js,jsx}": "eslint"
}

chore(release): v0.16.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

added two new entries (#168)
  public/server/db/fcfs.json
  public/server/db/fcol.json
Due: prettier --ignore-path .gitignore --write

Create pr.json (#166)
  public/server/db/pr.json
Due: prettier --ignore-path .gitignore --write

Two Abbreviations Added
  public/server/db/dyk.json
  public/server/db/xd.json
Due: prettier --ignore-path .gitignore --write

wrong abbreviation deleted.
  public/server/db/wifi.json
Due: prettier --ignore-path .gitignore --write

feat(slang) added nnn
  public/server/db/nnn.json
Due: prettier --ignore-path .gitignore --write

feat(slang) added nnn
  package-lock.json
  package.json
  public/server/db/nnn.json
  public/server/encodedAbbrMappings.json
Due: prettier --ignore-path .gitignore --write

feat(slang) added nnn (#173)
  package-lock.json
  package.json
  public/server/db/nnn.json
  public/server/encodedAbbrMappings.json
Due: prettier --ignore-path .gitignore --write

New Slang Added (#170)
  public/server/db/dyk.json
  public/server/db/xd.json
Due: prettier --ignore-path .gitignore --write

Add check for empty input and retype
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

docs: created abbreviation.yml file
  .github/ISSUE_TEMPLATE/abbreviation.yml
Due: none

updated markdown syntax in yml
  .github/ISSUE_TEMPLATE/abbreviation.yml
Due: none

three new entries
  public/server/db/bffr.json
  public/server/db/lbvs.json
  public/server/db/wym.json
Due: prettier --ignore-path .gitignore --write

updated yml title
  .github/ISSUE_TEMPLATE/abbreviation.yml
Due: none

update: three new entries (#177)
  public/server/db/bffr.json
  public/server/db/lbvs.json
  public/server/db/wym.json
Due: prettier --ignore-path .gitignore --write

feat(abbreviation): added description for WIP
  public/server/db/wip.json
Due: prettier --ignore-path .gitignore --write

Reduce delay to 300ms
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

feat(abbreviation): added description for WIP (#179)
  public/server/db/wip.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.17.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Add abbreviation
  public/server/db/paw.json
Due: prettier --ignore-path .gitignore --write

Add abbreviation (#183)
  public/server/db/paw.json
Due: prettier --ignore-path .gitignore --write

feat (slang): added bbl
  public/server/db/bbl.json
Due: prettier --ignore-path .gitignore --write

Added more abbreviations (#185)
  public/server/db/bbl.json
Due: prettier --ignore-path .gitignore --write

feat (slang): added faq
  public/server/db/faq.json
Due: prettier --ignore-path .gitignore --write

feat (slang): added pvp
  public/server/db/pvp.json
Due: prettier --ignore-path .gitignore --write

Remove delay
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

update: Button text submit to text
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

update: Button text submit to text (#187)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

feat (slang) removed faq
  public/server/db/faq.json
Due: prettier --ignore-path .gitignore --write

fix: fixing url for clonning the porject
  CONTRIBUTING.md
Due: none

fix: fixing url for clonning the porject (#189)
  CONTRIBUTING.md
Due: none

chore(release): v0.17.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Added new abbrevation 1. htf - how the fuck 2. ps - problem statement, post script 3. td - to do 4. lnkd - linkedin 5. tuh - thank you 6. imao - In my arrogant opinion
  public/server/db/htf.json
  public/server/db/imao.json
  public/server/db/lnkd.json
  public/server/db/ps.json
  public/server/db/so.json
  public/server/db/td.json
  public/server/db/thu.json
Due: prettier --ignore-path .gitignore --write

Add abbreviation
  public/server/db/tntl.json
Due: prettier --ignore-path .gitignore --write

Add abbreviation (#192)
  public/server/db/tntl.json
Due: prettier --ignore-path .gitignore --write

Add: meta tag
  index.html
Due: none

Add Loading Spinner component (#146)
  public/server/db/nnn.json
  public/server/db/pcm.json
  public/server/db/pr.json
  public/server/db/stem.json
  public/server/db/thx.json
  public/server/db/wsup.json
  public/server/encodedAbbrMappings.json
  src/components/form.jsx
  src/components/loadingSpinner.jsx
  tailwind.config.cjs
Due: prettier --ignore-path .gitignore --write, eslint

Meta tag for link sharing
  index.html
  src/assets/thumbnail.png
Due: none

DOCS: adding new abbreviation
  public/server/idli.json
Due: prettier --ignore-path .gitignore --write

DOCS: adding new abbreviation
  public/server/ili.json
Due: prettier --ignore-path .gitignore --write
