Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

Added 10 abbreviations to db, fixed indents in db (#63)
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

capitalized my abbreve
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Juliet added 2 abbreve (#85)
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Update public/server/db.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

ci: created release file
  .github/workflows/releases.yml
Due: none

chore(release): v0.1.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Edit the definitions/alternative
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.2.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

chore: add 17 abbreviation to db (#38)
  CHANGELOG.md
  package.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Update db.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

fix: updated fetch request
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: errors when fetch request is wrong
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

docs: updated docs to reflect new README
  README.md
Due: none

chore: removed console.log
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore: create a comprehensive contribution guideline for Abbreve.
  CONTRIBUTING.md
Due: none

Added gif as preview instead of screenshot
  README.md
Due: none

Updated readme.md with git instead of screenshot
  README.md
Due: none

Updated readme.md with git instead of screenshot (#98)
  README.md
Due: none

Update db.json (#94)
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

updated the db.json file with some new acronyms
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

docs: gif link showing in README
  README.md
Due: none

remove hypothetical links
  CONTRIBUTING.md
Due: none

alt: added alt text to hero images
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

feat: added new way to add new slang
  README.md
  package-lock.json
  package.json
  src/lib/registerSlang.cjs
Due: prettier --ignore-path .gitignore --write

chore: create a comprehensive contribution guideline for Abbreve. (#96)
  CONTRIBUTING.md
Due: none

alt: added alt text to hero images (#104)
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: removed unwanted slangs
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.2.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

chore: created pull request template
  .github/pull_request_template.md
Due: none

docs: updated contributing.md
  CONTRIBUTING.md
Due: none

fix: removed broken credits link
  CONTRIBUTING.md
Due: none

chore(release): v0.2.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

docs: added link to CONTRIBUTING.MD
  README.md
Due: none

docs: added instructions for adding new abbreviations
  public/server/README.md
Due: none

chore: added chalk and inquirer packages for cli
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

refactor: moved all db related logic to public/server
  public/server/compileDb.js
  public/server/lib/dbManager.js
  public/server/scripts/compileDb.js
  src/lib/dbManager.js
Due: prettier --ignore-path .gitignore --write, eslint

feat: added cli
  public/server/scripts/cleanupDb.js
  public/server/scripts/enterDb.js
Due: prettier --ignore-path .gitignore --write, eslint

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
