Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

feat: added isp.json
  public/server/db/isp.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.11.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

feat: added dns.json
  public/server/db/dns.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.12.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update db.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Added idt.json and idts.json
  public/server/db/idt.json
  public/server/db/idts.json
Due: prettier --ignore-path .gitignore --write

Delete isp.json
  public/server/db/isp.json
Due: prettier --ignore-path .gitignore --write

Delete it.json
  public/server/db/it.json
Due: prettier --ignore-path .gitignore --write

Delete dns.json
  public/server/db/dns.json
Due: prettier --ignore-path .gitignore --write

Delete cs.json
  public/server/db/cs.json
Due: prettier --ignore-path .gitignore --write

Remove scroll library from getting started link
  src/components/navbar.jsx
  src/index.css
Due: prettier --ignore-path .gitignore --write, eslint

feat(cli): automatically convert slangs to lowercase
  public/server/scripts/enterDb.js
Due: prettier --ignore-path .gitignore --write, eslint

docs: added instructions for using cli in main README
  README.md
  cli-demo.gif
  public/server/README.md
Due: none

update package-lock.json and include in commit
  .husky/pre-commit
  package-lock.json
Due: prettier --ignore-path .gitignore --write

docs: updated README for public/server
  public/server/README.md
Due: none

feat(cleanupDb.js): added confirmation message before cleaning up db
  public/server/scripts/cleanupDb.js
Due: prettier --ignore-path .gitignore --write, eslint

follow naming + function conventions
  .husky/pre-commit
Due: none

Update pre-commit hook to sync package-lock.json (#127)
  .husky/pre-commit
  package-lock.json
Due: prettier --ignore-path .gitignore --write

removing ip.sjon
  public/server/db/ip.json
Due: prettier --ignore-path .gitignore --write

fix: sanitize user input (#128)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Added: `mfw`
  public/server/db/mfw.json
Due: prettier --ignore-path .gitignore --write

Added: `afair`
  public/server/db/afair.json
Due: prettier --ignore-path .gitignore --write

Added: `myob`
  public/server/db/myob.json
Due: prettier --ignore-path .gitignore --write

Added: `oc`
  public/server/db/oc.json
Due: prettier --ignore-path .gitignore --write

Updated: `myob`
  public/server/db/myob.json
Due: prettier --ignore-path .gitignore --write

Added: `tba`
  public/server/db/tba.json
Due: prettier --ignore-path .gitignore --write

Added: `tbc`
  public/server/db/tbc.json
Due: prettier --ignore-path .gitignore --write

Fixed: a typo
  .github/pull_request_template.md
Due: none

Added more abbreviations and fixed a typo in PR template. (#130)
  .github/pull_request_template.md
  public/server/db/afair.json
  public/server/db/mfw.json
  public/server/db/myob.json
  public/server/db/oc.json
  public/server/db/tba.json
  public/server/db/tbc.json
Due: prettier --ignore-path .gitignore --write

Adding new abbreviations (#123)
  CHANGELOG.md
  package.json
  public/server/db.json
  public/server/db/btw.json
  public/server/db/if.json
  public/server/db/ihtg.json
  public/server/db/wru.json
  public/server/db/yrr.json
Due: prettier --ignore-path .gitignore --write

_blank and rel attributes added
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

target blank attribute added
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Target blank added (#132)
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

feat: UI/UX improvements - moved search box to the top (#122)
  src/App.jsx
  src/components/footer.jsx
  src/components/form.jsx
  src/components/hero.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.13.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

fix(db.json): duplicate abbreviations
  package-lock.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

update: create ptfo.json (#121)
  public/server/db/ptfo.json
Due: prettier --ignore-path .gitignore --write

Added New Slang
  public/server/db/lmao.json
Due: prettier --ignore-path .gitignore --write

Added new Abbreve
  public/server/db/lmao.json
Due: prettier --ignore-path .gitignore --write

Added abbreviation ifb
  public/server/db/ifb.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
