Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": "prettier --ignore-path .gitignore --write",
  "*.{js,jsx}": "eslint"
}

hsd
  public/server/db/hsd.json
Due: prettier --ignore-path .gitignore --write

Edited and added a new css
  src/components/form.css
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

search bar was created successfully
  index.html
  script.js
  style.css
Due: prettier --ignore-path .gitignore --write, eslint

dark and light mode is fixed
  index.html
  myscripts.js
  style.css
Due: prettier --ignore-path .gitignore --write, eslint

🎉na slang added.
  public/server/db/na.json
Due: prettier --ignore-path .gitignore --write

🎉na slang added. (#318)
  public/server/db/na.json
Due: prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: none

Added 5 new abbreviations
  public/server/db/cwot.json
  public/server/db/dwh.json
  public/server/db/pda.json
  public/server/db/tmb.json
  public/server/db/ygtr.json
Due: prettier --ignore-path .gitignore --write

Added 5 new abbreviations (#321)
  public/server/db/cwot.json
  public/server/db/dwh.json
  public/server/db/pda.json
  public/server/db/tmb.json
  public/server/db/ygtr.json
Due: prettier --ignore-path .gitignore --write

updated
  package-lock.json
  public/server/db/hs.json
Due: prettier --ignore-path .gitignore --write

changed HSD -> HS
  package-lock.json
  public/server/db/hs.json
Due: prettier --ignore-path .gitignore --write

fix search bar visibility
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix search bar visibility (#323)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

updated the link under Adding an Abbreviation heading
  README.md
Due: none

updated the link under Adding an Abbreviation heading (#326)
  README.md
Due: none

add so abbreviation
  public/server/db/so.json
Due: prettier --ignore-path .gitignore --write

add so abbreviation (#328)
  public/server/db/so.json
Due: prettier --ignore-path .gitignore --write

Because Abbreviation
  public/server/db/bc
Due: none

Added json ext
  public/server/db/bc.json
Due: prettier --ignore-path .gitignore --write

Abbreviation: Another Day In Hell
  public/server/db/adih.json
Due: prettier --ignore-path .gitignore --write

Abbreviation: Busting With Laughter
  public/server/db/bwl.json
Due: prettier --ignore-path .gitignore --write

fixed to definition
  public/server/db/adih.json
Due: prettier --ignore-path .gitignore --write

fixed to definition
  public/server/db/bwl.json
Due: prettier --ignore-path .gitignore --write

Corrected spelling of bursting
  public/server/db/bwl.json
Due: prettier --ignore-path .gitignore --write

Newly Added: BC, ADIH, BWL (#330)
  public/server/db/adih.json
  public/server/db/bc.json
  public/server/db/bwl.json
Due: prettier --ignore-path .gitignore --write

add fka abbrevation
  public/server/db/fka.json
Due: prettier --ignore-path .gitignore --write

add fka abbrevation (#333)
  public/server/db/fka.json
Due: prettier --ignore-path .gitignore --write

Fix: alternatives spelling
  public/server/db/imho.json
Due: prettier --ignore-path .gitignore --write

Feat: Alternative to WFH
  public/server/db/wfh.json
Due: prettier --ignore-path .gitignore --write

Feat: Alternative to HTH
  public/server/db/hth.json
Due: prettier --ignore-path .gitignore --write

feat: IB
  public/server/db/ib.json
Due: prettier --ignore-path .gitignore --write

feat: BAE
  public/server/db/bae.json
Due: prettier --ignore-path .gitignore --write

feat: SUS
  public/server/db/sus.json
Due: prettier --ignore-path .gitignore --write

feat: GMTA
  public/server/db/gmta.json
Due: prettier --ignore-path .gitignore --write

add gl and b4 abbrevations
  public/server/db/b4.json
  public/server/db/gl.json
Due: prettier --ignore-path .gitignore --write

add new abbrev ttly
  public/server/db/ttly.json
Due: prettier --ignore-path .gitignore --write

Test
  .gitignore
Due: none

Test: (Loading)
  src/components/footer.jsx
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fixed
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

(Added): Scrollbar
  package-lock.json
  src/components/form.jsx
  src/index.css
Due: prettier --ignore-path .gitignore --write, eslint
