Repository Njong392/Abbreve: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint

Add an abbreviation (#237)
  public/server/db/tml.json
Due: prettier --ignore-path .gitignore --write

Update src/components/navbar.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Update navbar.jsx
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

package-lock reverted
  package-lock.json
Due: prettier --ignore-path .gitignore --write

fix: fixed issue generated in PR
  package-lock.json
  src/components/form.jsx
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

Reverted the package.json changes
  package-lock.json
Due: prettier --ignore-path .gitignore --write

new abbreviations added (#233)
  public/server/db/diky.json
  public/server/db/eod.json
  public/server/db/ftfy.json
  public/server/db/gtr.json
  public/server/db/hmb.json
  public/server/db/lms.json
  public/server/db/mtfbwy.json
  public/server/db/pnl.json
  public/server/db/snmp.json
  public/server/db/tay.json
Due: prettier --ignore-path .gitignore --write

fixed input field size (#235)
  src/components/form.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: darkmode doesn't stay on refresh #218 (#236)
  src/components/navbar.jsx
Due: prettier --ignore-path .gitignore --write, eslint

chore(release): v0.19.3
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

docs: changed `npm install` to `npm ci`
  README.md
Due: none

commited file with suggested changes
  public/server/db/gn.json
Due: prettier --ignore-path .gitignore --write

updated file in old created branch
  public/server/db/gn.json
Due: prettier --ignore-path .gitignore --write

added inverted comma at the end
  public/server/db/gn.json
Due: prettier --ignore-path .gitignore --write

Added ' We're Going To Make It ' to database.
  public/server/db/wgmi.json
Due: prettier --ignore-path .gitignore --write

Added ' We're Going To Make It ' to database. (#242)
  public/server/db/wgmi.json
Due: prettier --ignore-path .gitignore --write

commited file with suggested changes (#240)
  public/server/db/gn.json
Due: prettier --ignore-path .gitignore --write

fix: fixed issues generated in the PR
  src/components/form.jsx
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

fix: fixed issues generated in the PR
  package.json
Due: prettier --ignore-path .gitignore --write

Fixed issue on medium screens (#238)
  package.json
  public/server/db/btaim.json
  public/server/db/ifyp.json
  public/server/db/imu.json
  public/server/db/omdb.json
  public/server/db/rbtl.json
  public/server/db/soml.json
  public/server/db/ssdd.json
  public/server/db/wywh.json
  src/components/form.jsx
  src/components/hero.jsx
Due: prettier --ignore-path .gitignore --write, eslint

added new slang to the data base
  package-lock.json
  public/server/db.json
  public/server/db/cul8r.json
Due: prettier --ignore-path .gitignore --write

Added "kpi: Key Performance Indicator" to db
  public/server/db/kpi.json
Due: prettier --ignore-path .gitignore --write

Create bf.json
  public/server/db/bf.json
Due: prettier --ignore-path .gitignore --write

Update db.json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

reverted the changes in package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

removed clu8r from db,json
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Update bf.json
  public/server/db/bf.json
Due: prettier --ignore-path .gitignore --write

added new abbvs
  public/server/db/gtb.json
  public/server/db/ikyl.json
  public/server/db/rq.json
  public/server/db/sthu.json
  public/server/db/tyvm.json
Due: prettier --ignore-path .gitignore --write

feat(slang) : added kpi
  public/server/db/kpi.json
Due: prettier --ignore-path .gitignore --write

DOCS: Adding Abbrivation (#247)
  public/server/db.json
  public/server/db/bf.json
Due: prettier --ignore-path .gitignore --write

added new abbvs (#248)
  public/server/db/gtb.json
  public/server/db/ikyl.json
  public/server/db/rq.json
  public/server/db/sthu.json
  public/server/db/tyvm.json
Due: prettier --ignore-path .gitignore --write

Added new "cul8r " slang to the data base (#245)
  public/server/db/cul8r.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added rip
  public/server/db/rip.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added CSL
  public/server/db/csl.json
Due: prettier --ignore-path .gitignore --write

added cfbr abbreviation
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

feat(slang): added rip (#254)
  public/server/db/rip.json
Due: prettier --ignore-path .gitignore --write

chore(release): v0.20.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

added cfbr abbreviation
  public/server/db.json
  public/server/db/cfbr.json
Due: prettier --ignore-path .gitignore --write

added cfbr abbreviation (#257)
  public/server/db/cfbr.json
Due: prettier --ignore-path .gitignore --write

feat: added a new abbreviation
  public/server/db.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{js,jsx,json}
  eslint: any of: *.{js,jsx}
